Flask #for building web apps
Jinja2 #template engine
firebase #Firebase REST APIs
firebase-admin #allows you to manage users and validate tokens
jsonschema #JSON Schema validation
gunicorn #to deploy Flask app to Heroku
