/* LAYOUT.HTML */
/* navbar*/
#navbar-logo {
    color:#32cd32 !important;
}
#nav-item1:link, #nav-item1:visited {
    color:white !important;
}
#nav-item1:hover, #nav-item1:active {
    color:#32cd32 !important;
}
#nav-item2:link, #nav-item2:visited {
    color:white !important;
}
#nav-item2:hover, #nav-item2:active {
    color:#32cd32 !important;
}
#nav-item3:link, #nav-item3:visited {
    color:white !important;
}
#nav-item3:hover, #nav-item3:active {
    color:#32cd32 !important;
}
#nav-item4:link, #nav-item4:visited {
    color:white !important;
}
#nav-item4:hover, #nav-item4:active {
    color:#32cd32 !important;
}

/* nav-scroller Welcome Analyst Name*/
.welcome {
    color:#32cd32 !important;
}

/* footer */
#footer-footer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 60px;
            padding: 0px;
            margin-top: 20px;
}
/* ========== end of layout.html ========== */


/* LOGIN.HTML */
/* login */
#btn-login {
    background-color: #32cd32;
    border:none;
}

/* register */
#btn-register {
    background-color: #32cd32;
    border:none;
}
/* ========== end of login.html ========== */


/* POSTS.HTML */
/* posts article title */
a.posts-title:link {
    text-decoration:none;
}
a.posts-title:visited {
    text-decoration:underline;
    text-decoration-color:#32cd32;
}
a.posts-title:hover, a.posts-title:active {
    color:#32cd32 !important;
    text-decoration:none;
}

/* posts continue reading */
a.posts-reading:link {
    color:#32cd32 !important;
    text-decoration-line:underline;
    text-decoration-color:#32cd32;
}
a.posts-reading:visited {
	color:#212529;
    text-decoration-line:underline;
    text-decoration-color:#32cd32;
}
a.posts-reading:hover, a.posts-reading:active {
	color:#32cd32;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color:#32cd32;
}
/* ========== end of posts.html ========== */


/* SINGLE.HTML */
/* single article category and analysis */
.single {
    color:#32cd32 !important;
}
/* ========== end of single.html ========== */


/* CREATE.HTML */
/* header to enter analysis */
.create {
color:#32cd32 !important;
}

/* button to submit analysis */
#btn-analysis:link, #btn-analysis:visited {
border:2px solid;
border-color:#32cd32;
color:#32cd32 !important;
background-color:white;
}
#btn-analysis:hover, #btn-analysis:active {
color:white;
background-color:#32cd32;
border:none;
}
/* ========== end of create.html ========== */